@tailwind base;
@layer base {
  /* h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  } */
}
@tailwind components;
@tailwind utilities;

img.avatar {
  @apply w-16 md:w-32 lg:w-48;
}

div.button,
button,
button.default {
  @apply px-4 py-2 text-white duration-150 bg-indigo-600 rounded-lg hover:bg-indigo-700 active:shadow-lg;
  cursor: pointer;
}

.button-styles {
  @apply px-4 py-2 text-white transition duration-100 border rounded-lg bg-primary border-primary disabled:opacity-50 disabled:cursor-not-allowed hover:bg-transparent hover:text-primary;
}

.input-styles {
  @apply px-4 py-2 transition duration-100 bg-transparent border border-gray-300 rounded-lg outline-none hover:border-black disabled:opacity-50 disabled:cursor-not-allowed hover:dark:border-white;
}

.site-bar-styles {
  @apply flex justify-between gap-4 p-4;
}

.nav-styles {
  @apply flex flex-wrap items-center justify-between h-full gap-x-8 gap-y-4;
}

.nav-item {
  @apply px-3 py-4 text-gray-500 sm:py-2;
}

.link-styles {
  @apply text-gray-500 transition duration-100 hover:text-black hover:dark:text-white;
}

.active-link-styles {
  @apply data-[current]:!text-black data-[current]:dark:!text-white;
}

.active-ancestor-link-styles {
  @apply data-[ancestor]:!text-black data-[ancestor]:dark:!text-white;
}

.heading-styles {
  @apply text-3xl font-bold;
}

.heading-with-margin-styles {
  @apply mb-8 text-3xl font-bold;
}

h1, footer {
  -webkit-text-fill-color: transparent;
  background-color: #FFF;
  background-image: url(https://media.giphy.com/media/9JxkPTP3alOykb8PmQ/source.gif);
  background-clip: text;
  background-size: 200% 200%;
}

/* https://iframely.com/docs/omit-css */
.iframely {
  border: 0;

  iframe {
    body > div {
      border: 0 !important;
    }
  }
}

.iframely-responsive {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.iframely-responsive > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border: 0;
}

.embed-parent {
  display: flex;
  justify-content: center;
}

.embed-parent .iframely-embed {
  width: 100%;
}
